@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* CSS Document */

body {
	background: #fff;
	font-family: 'Open Sans', sans-serif;
}

header {
	background: #FFFFFF;
}

nav {
	font-family: 'Open Sans', sans-serif;
	font-weight: 500;
}

.form-control:focus,.form-control:active {
   outline: none !important;
   box-shadow: none;

}.navbar-nav {
	float: right;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
  
}.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
} 
nav li {
    line-height: 1;
    display: inline-block;
    color:#ffeb3b;
    text-decoration:none;
}

nav li:after {
	display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #555;
    transition: width 1s ease-in;
}li:hover:after,
li:focus:after {
    width: 100%;
}form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #ddd;
  float: left;
  width: 80%;
  height: 10%;
  background: #fff;
}

form.example button {
  float: left;
  width: 15%;
  padding: 9px;
  background: #222;
  color: white;
  font-size: 17px;
  border: 1px solid #ddd;
  border-left: none;
  cursor: pointer;
  transition: all .3s ease;
}

form.example button:hover {
  background: #F1F1F1;
  color: #222;
  border: 1px solid #ddd;
  border-left: none;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}
.btn-outline {
  border: 1px solid #222;
}
.cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 30px;
  max-width: 350px;
  max-height: 350px;
  box-shadow: 0 40px 60px -6px #ddd;
  background: #ffffff3d;
}

.card-title {
  border-bottom: 1px solid #ddd;
  display: block;
  font-size: 18px;
  text-align: center;
  color: #222;
  background-color: #ffffff3d;
  font-weight: 600;
  padding: 2%;
  border-top-right-radius: 4px;font-family: 'Open Sans', sans-serif;
  border-top-left-radius: 4px;
}

.card img {
  opacity: 0.8;
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  position: relative;
  bottom: 25px;
}

.card-desc {
  display: block;
  font-size: 15px;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  overflow-y: scroll;
  transition: 0.8s ease;
}


.card:hover .card-desc {
  opacity: 1;
  height: 100%;
}
